HTML {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
SPAN {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
APPLET {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
OBJECT {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
IFRAME {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
TABLE {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
CAPTION {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
TBODY {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
TFOOT {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
THEAD {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
TR {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DEL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DFN {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
EM {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
FONT {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
IMG {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
INS {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
KBD {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
Q {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
S {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
SAMP {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
SMALL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
STRIKE {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
STRONG {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
SUB {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
SUP {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
TT {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
VAR {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
A {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
ABBR {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
ACRONYM {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
ADDRESS {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
BIG {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
CITE {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
CODE {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
LABEL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
:focus {
	OUTLINE-WIDTH: 0px
}
A {
	TEXT-DECORATION: none
}
OL {
	LIST-STYLE-TYPE: none
}
UL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
B {
	FONT-STYLE: normal
}
I {
	FONT-STYLE: normal
}
CITE {
	FONT-STYLE: normal
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: separate
}
CAPTION {
	TEXT-ALIGN: left; FONT-WEIGHT: normal
}
TH {
	TEXT-ALIGN: left; FONT-WEIGHT: normal
}
TD {
	TEXT-ALIGN: left; FONT-WEIGHT: normal
}
BLOCKQUOTE:before {
	CONTENT: ""
}
BLOCKQUOTE:after {
	CONTENT: ""
}
Q:before {
	CONTENT: ""
}
Q:after {
	CONTENT: ""
}
BLOCKQUOTE {
	QUOTES: "" ""
}
Q {
	QUOTES: "" ""
}
* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	WIDTH: 100%; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; font-color: #707070
}
HTML {
	OVERFLOW-X: hidden
}
.clear {
	CLEAR: both
}
.head {
	BACKGROUND: url(../bg/bg01.gif) repeat-x left top
}
.wrap {
	MARGIN: 0px auto; WIDTH: 1003px; HEIGHT: 83px; PADDING-TOP: 8px
}
.logo {
	MARGIN-TOP: 10px; WIDTH: 383px; FLOAT: left; HEIGHT: 50px; MARGIN-RIGHT: 11px; _margin-right: 3px
}
.logo A {
	MARGIN-TOP: 10px; WIDTH: 383px; FLOAT: left; HEIGHT: 50px; MARGIN-RIGHT: 11px; _margin-right: 3px
}
.logo A {
	WIDTH: 383px; DISPLAY: block; BACKGROUND: url(../bg/logo.png) no-repeat; HEIGHT: 50px; CURSOR: pointer
}
.nav {
	
}
.nav UL {
	PADDING-TOP: 20px
}
.nav UL LI {
	DISPLAY: inline; WHITE-SPACE: nowrap; FLOAT: left; HEIGHT: 50px; OVERFLOW: hidden; MARGIN-RIGHT: 3px
}
.nav UL LI A {
	DISPLAY: block; HEIGHT: 50px
}
.nav UL LI.hover1 A {
	WIDTH: 80px; BACKGROUND: url(../bg/nav1.gif) no-repeat center center
}
.nav UL LI.hover2 A {
	WIDTH: 120px; BACKGROUND: url(../bg/nav2.gif) no-repeat center center
}
.nav UL LI.hover3 A {
	WIDTH: 75px; BACKGROUND: url(../bg/nav3.gif) no-repeat center center
}
.nav UL LI.hover4 A {
	WIDTH: 101px; BACKGROUND: url(../bg/nav4.gif) no-repeat center center
}
.nav UL LI.hover5 A {
	WIDTH: 113px; BACKGROUND: url(../bg/nav5.gif) no-repeat center center
}
.nav UL LI.hover6 A {
	WIDTH: 102px; BACKGROUND: url(../bg/nav6.gif) no-repeat center center
}
.nav UL LI.hover1 A:hover {
	BACKGROUND: url(../bg/nav7.gif) no-repeat center center
}
.nav UL LI.hover2 A:hover {
	BACKGROUND: url(../bg/nav8.gif) no-repeat center center
}
.nav UL LI.hover3 A:hover {
	BACKGROUND: url(../bg/nav9.gif) no-repeat center center
}
.nav UL LI.hover4 A:hover {
	BACKGROUND: url(../bg/nav10.gif) no-repeat center center
}
.nav UL LI.hover5 A:hover {
	BACKGROUND: url(../bg/nav11.gif) no-repeat center center
}
.nav UL LI.hover6 A:hover {
	BACKGROUND: url(../bg/nav12.gif) no-repeat center center
}
.demo100 {
	POSITION: relative; MARGIN: 1px auto 0px; WIDTH: 1003px; HEIGHT: 445px
}
.src7 {
	POSITION: relative; MARGIN: 0px; WIDTH: 1003px; HEIGHT: 445px; _margin-left: 0
}
.src7 DIV.banner {
	POSITION: absolute; WIDTH: 1680px; HEIGHT: 445px; RIGHT: 0px; LEFT: -340px; _left: -340px
}
.banner {
	
}
.src8 {
	POSITION: absolute; BOTTOM: 70px; RIGHT: 0px; _right: 0px
}
.src8 UL LI {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.src8 UL LI A {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 25px; DISPLAY: block; BACKGROUND: url(../bg/button2.png) no-repeat; HEIGHT: 25px; COLOR: #494e5a; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.src8 UL LI A:hover {
	BACKGROUND: url(../bg/button1.png) no-repeat; COLOR: #fff
}
.src8 UL LI A.current {
	BACKGROUND: url(../bg/button1.png) no-repeat; COLOR: #fff; _background: url(../bg/button2.png) no-repeat; _color: #494e5a
}
.contact {
	POSITION: relative; MARGIN: -59px auto 0px; WIDTH: 1003px; BACKGROUND: url(../bg/contact.jpg) no-repeat 2px center; HEIGHT: 60px
}
.contact UL {
	PADDING-LEFT: 178px; PADDING-TOP: 10px
}
.contact UL LI {
	FLOAT: left; MARGIN-RIGHT: 5px
}
.contact UL LI A {
	WIDTH: 33px; DISPLAY: block; HEIGHT: 38px; CURSOR: pointer
}
.content {
	MARGIN: 0px auto; WIDTH: 1003px; BACKGROUND: url(../bg/bg100.gif) repeat-y
}
.event {
	POSITION: relative; PADDING-LEFT: 10px; WIDTH: 476px; PADDING-RIGHT: 20px; BACKGROUND: url(../bg/bg1.gif) no-repeat right top; FLOAT: left; HEIGHT: 320px
}
.event H2.title1 {
	POSITION: relative; WIDTH: 474px; BACKGROUND: url(../bg/title1.gif) no-repeat 3px 22px; HEIGHT: 60px
}
.event H2.title1 A {
	POSITION: absolute; WIDTH: 47px; DISPLAY: block; BACKGROUND: url(../bg/more1.gif) no-repeat; HEIGHT: 17px; CURSOR: pointer; RIGHT: 0px; TOP: 25px
}
.event H2.title1 A:hover {
	BACKGROUND: url(../bg/more.gif) no-repeat
}
.src1 {
	POSITION: relative; MARGIN-TOP: 5px; WIDTH: 474px; BACKGROUND: url(../bg/imagebg1.gif) no-repeat; HEIGHT: 257px
}
.src1 DIV {
	POSITION: absolute; WIDTH: 474px; HEIGHT: 257px; TOP: 0px; LEFT: -9px
}
.src1 DIV A {
	WIDTH: 474px; DISPLAY: block; HEIGHT: 257px
}
.src1 DIV A IMG {
	MARGIN: 8px 0px 0px; WIDTH: 460px; HEIGHT: 242px
}
.src2 {
	POSITION: absolute; RIGHT: 75px; TOP: 28px
}
.src2 UL LI {
	WIDTH: 11px; DISPLAY: inline; FLOAT: left; HEIGHT: 11px; MARGIN-RIGHT: 8px
}
.src2 UL LI A {
	WIDTH: 11px; DISPLAY: block; BACKGROUND: url(../bg/button1.gif) no-repeat; HEIGHT: 11px
}
.src2 UL LI A:hover {
	BACKGROUND: url(../bg/button2.gif) no-repeat
}
.src2 UL LI A.current {
	BACKGROUND: url(../bg/button2.gif) no-repeat
}
.news {
	PADDING-LEFT: 10px; WIDTH: 475px; FLOAT: left
}
.news H2.title2 {
	POSITION: relative; WIDTH: 486px; BACKGROUND: url(../bg/title2.gif) no-repeat -1px 24px; HEIGHT: 69px
}
.news H2.title2 A {
	POSITION: absolute; WIDTH: 47px; DISPLAY: block; HEIGHT: 17px; RIGHT: 15px; TOP: 27px
}
.news H2.title2 A:hover {
	BACKGROUND: url(../bg/more.gif) no-repeat left top
}
.news UL LI {
	BORDER-BOTTOM: #dfdfdf 1px dashed; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 470px; PADDING-RIGHT: 0px; HEIGHT: 69px; PADDING-TOP: 10px
}
.news UL LI.dif1 {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.news UL LI A {
	WIDTH: 470px; DISPLAY: block; FONT-FAMILY: 'ËÎÌå'; BACKGROUND: url(../bg/imagebg2.gif) no-repeat; HEIGHT: 69px; FONT-SIZE: 12px
}
.news UL LI A:hover {
	BACKGROUND: url(../bg/imagebg3.gif) no-repeat
}
.news UL LI A:hover H2 {
	COLOR: #fff
}
.news UL LI A:hover P {
	COLOR: #fff
}
.news UL LI A IMG {
	MARGIN: 4px 0px 0px 4px; FLOAT: left
}
.news UL LI A H2 {
	LINE-HEIGHT: 25px; PADDING-LEFT: 20px; WIDTH: 380px; DISPLAY: block; WHITE-SPACE: nowrap; HEIGHT: 25px; COLOR: #000; OVERFLOW: hidden; FONT-WEIGHT: bold
}
.news UL LI A P {
	LINE-HEIGHT: 18px; MARGIN-TOP: 2px; PADDING-LEFT: 20px; WIDTH: 380px; DISPLAY: block; HEIGHT: 32px; COLOR: #7f7e78; OVERFLOW: hidden
}
.showcase {
	POSITION: relative; MARGIN-TOP: 25px; PADDING-LEFT: 10px
}
.showcase H2.title3 {
	POSITION: relative; WIDTH: 990px; BACKGROUND: url(../bg/title3.gif) no-repeat; HEIGHT: 57px
}
.showcase H2 A {
	POSITION: absolute; WIDTH: 47px; DISPLAY: block; BACKGROUND: url(../bg/more1.gif) no-repeat; HEIGHT: 17px; RIGHT: 21px; TOP: 9px
}
.showcase H2 A:hover {
	BACKGROUND: url(../bg/more.gif) no-repeat
}
.nv {
	POSITION: absolute; PADDING-LEFT: 11px; WIDTH: 65px; HEIGHT: 16px; PADDING-TOP: 3px; TOP: 10px; LEFT: 280px
}
.nv DD {
	WIDTH: 11px; DISPLAY: inline; BACKGROUND: url(../bg/button1.gif) no-repeat; FLOAT: left; HEIGHT: 11px; CURSOR: pointer; MARGIN-RIGHT: 10px
}
.nv DD.active {
	BACKGROUND: url(../bg/button2.gif) no-repeat
}
.src3 {
	POSITION: relative; WIDTH: 980px; HEIGHT: 260px; OVERFLOW: hidden
}
.showcase UL {
	POSITION: relative; MARGIN-TOP: 5px; WIDTH: 2000em
}
.showcase UL LI {
	WIDTH: 232px; FLOAT: left; MARGIN-RIGHT: 15px
}
.showcase UL LI A {
	WIDTH: 232px; DISPLAY: block; BACKGROUND: url(../bg/imagebg4.gif) no-repeat; HEIGHT: 259px
}
.showcase UL LI A IMG {
	MARGIN: 8px 0px 0px 9px
}
.showcase UL LI A SPAN {
	POSITION: relative; LINE-HEIGHT: 30px; PADDING-LEFT: 10px; WIDTH: 212px; DISPLAY: block; FONT-FAMILY: Verdana; WHITE-SPACE: nowrap; HEIGHT: 30px; COLOR: #000; FONT-SIZE: 9px; OVERFLOW: hidden
}
.showcase UL LI A SPAN SMALL {
	POSITION: absolute; DISPLAY: block; RIGHT: 0px; TOP: 0px
}
.showcase UL LI A H2 {
	PADDING-LEFT: 10px; WIDTH: 196px; DISPLAY: block; HEIGHT: 30px; COLOR: #626262; OVERFLOW: hidden
}
.showcase UL LI A:hover H2 {
	COLOR: #fff
}
.showcase UL LI A:hover {
	BACKGROUND: url(../bg/imagebg5.gif) no-repeat
}
.ad1 {
	POSITION: relative; MARGIN: 16px 0px; PADDING-LEFT: 2px; WIDTH: 1000px; HEIGHT: 101px
}
.ad1 A {
	POSITION: absolute; WIDTH: 120px; BOTTOM: 3px; DISPLAY: block; HEIGHT: 20px; CURSOR: pointer; RIGHT: 10px
}
.con {
	POSITION: relative
}
.customer {
	PADDING-LEFT: 2px
}
.customer H2 {
	WIDTH: 496px; BACKGROUND: url(../bg/title4.gif) no-repeat; HEIGHT: 63px
}
.bar {
	POSITION: relative; WIDTH: 475px; BACKGROUND: url(../bg/imagebg6.gif) no-repeat; HEIGHT: 276px; MARGIN-LEFT: 8px
}
.alucard1 {
	Z-INDEX: 1000; POSITION: absolute; TOP: 0px; LEFT: 187px
}
.alucard1 A {
	WIDTH: 94px; DISPLAY: block; HEIGHT: 276px; CURSOR: pointer
}
.alucard2 {
	Z-INDEX: 1000; POSITION: absolute; TOP: 90px; LEFT: 98px
}
.alucard2 A {
	WIDTH: 276px; DISPLAY: block; HEIGHT: 94px; CURSOR: pointer
}
.bar UL LI {
	MARGIN-BOTTOM: 15px; FLOAT: left; MARGIN-RIGHT: 8px
}
.bar UL LI.m2 {
	PADDING-LEFT: 7px; WIDTH: 183px
}
.bar UL LI.m4 {
	PADDING-LEFT: 7px
}
.bar UL LI.m5 {
	WIDTH: 377px
}
.bar UL LI.m8 {
	PADDING-LEFT: 7px; WIDTH: 183px
}
.bar UL LI.m10 {
	PADDING-LEFT: 7px
}
.bar UL LI A {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; WIDTH: 76px; PADDING-RIGHT: 3px; DISPLAY: block; HEIGHT: 76px; PADDING-TOP: 3px
}
.bar UL LI A:hover {
	BACKGROUND: #c91717
}
.hot {
	POSITION: absolute; PADDING-BOTTOM: 92px; WIDTH: 505px; BACKGROUND: url(../bg/bg2.gif) no-repeat 50px bottom; RIGHT: 0px; TOP: 0px
}
.hot H2 {
	POSITION: relative; WIDTH: 505px; BACKGROUND: url(../bg/title5.gif) no-repeat; HEIGHT: 72px
}
.hot H2 A {
	POSITION: absolute; WIDTH: 47px; DISPLAY: block; BACKGROUND: url(../bg/more1.gif) no-repeat; HEIGHT: 17px; CURSOR: pointer; RIGHT: 15px; TOP: 24px
}
.hot H2 A:hover {
	BACKGROUND: url(../bg/more.gif) no-repeat
}
.hot UL LI {
	BORDER-BOTTOM: #e3e3e3 1px dashed; PADDING-BOTTOM: 3px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; HEIGHT: 30px; PADDING-TOP: 3px
}
.hot UL LI A {
	POSITION: relative; LINE-HEIGHT: 30px; PADDING-LEFT: 15px; WIDTH: 462px; DISPLAY: block; FONT-FAMILY: 'ËÎÌå'; WHITE-SPACE: nowrap; BACKGROUND: url(../bg/list1.gif) no-repeat 5px center; HEIGHT: 30px; COLOR: #494949; FONT-SIZE: 12px; OVERFLOW: hidden
}
.hot UL LI A SMALL {
	POSITION: absolute; RIGHT: 5px; TOP: 0px
}
.hot UL LI A:hover {
	BACKGROUND-COLOR: #c32222; COLOR: #fff
}
.location {
	POSITION: relative; PADDING-LEFT: 2px; WIDTH: 1000px; HEIGHT: 220px; OVERFLOW: hidden
}
.location H2.title4 {
	POSITION: relative; WIDTH: 1000px; BACKGROUND: url(../bg/title6.gif) no-repeat; HEIGHT: 61px
}
.location H2.title4 A {
	POSITION: absolute; WIDTH: 47px; BOTTOM: 19px; DISPLAY: block; BACKGROUND: url(../bg/more1.gif) no-repeat; HEIGHT: 17px; CURSOR: pointer; RIGHT: 14px
}
.location H2.title4 A:hover {
	BACKGROUND: url(../bg/more.gif) no-repeat
}
.src4 {
	POSITION: relative; MARGIN-TOP: 10px; WIDTH: 933px; HEIGHT: 133px; MARGIN-LEFT: 32px; OVERFLOW: hidden
}
.src4 UL {
	POSITION: relative; WIDTH: 2000em
}
.src4 UL LI {
	POSITION: relative; WIDTH: 301px; FLOAT: left; HEIGHT: 135px; MARGIN-RIGHT: 15px
}
.src4 UL LI A {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 301px; DISPLAY: block; BACKGROUND: url(../bg/imagebg7.gif) no-repeat; HEIGHT: 135px; CURSOR: pointer; TOP: 0px; LEFT: 0px
}
.src4 UL LI A SPAN {
	POSITION: absolute; WIDTH: 301px; BOTTOM: 0px; DISPLAY: block; BACKGROUND: url(../bg/bg1.png) no-repeat; HEIGHT: 135px; LEFT: -9999px
}
.src4 UL LI A SPAN H2 {
	MARGIN-TOP: 110px; PADDING-LEFT: 20px; WIDTH: 270px; WHITE-SPACE: nowrap; COLOR: #fff; OVERFLOW: hidden
}
.src4 UL LI A:hover SPAN {
	POSITION: absolute; BOTTOM: 0px; COLOR: #fff; LEFT: 0px
}
.src4 UL LI A:hover {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.arr01 {
	Z-INDEX: 10000; POSITION: absolute; WIDTH: 19px; DISPLAY: block; BACKGROUND: url(../bg/arr01.gif) no-repeat; HEIGHT: 123px; CURSOR: pointer; TOP: 70px; LEFT: 10px
}
.arr01:hover {
	BACKGROUND: url(../bg/arr04.gif) no-repeat
}
.arr02 {
	Z-INDEX: 10000; POSITION: absolute; WIDTH: 19px; DISPLAY: block; BACKGROUND: url(../bg/arr02.gif) no-repeat; HEIGHT: 123px; CURSOR: pointer; RIGHT: 10px; TOP: 70px
}
.arr02:hover {
	BACKGROUND: url(../bg/arr03.gif) no-repeat
}
.f_contact {
	POSITION: relative; WIDTH: 1000px; BACKGROUND: url(../bg/title7.jpg) no-repeat 2px top; HEIGHT: 104px
}
.bigqq {
	POSITION: absolute; WIDTH: 213px; BOTTOM: 0px; HEIGHT: 68px; LEFT: 10px
}
.bigqq A {
	WIDTH: 213px; DISPLAY: block; HEIGHT: 68px; CURSOR: pointer
}
.f_contact UL {
	PADDING-LEFT: 410px; PADDING-TOP: 50px
}
.f_contact UL LI.qq2 {
	WIDTH: 31px; FLOAT: left; HEIGHT: 33px; MARGIN-RIGHT: 5px
}
.f_contact UL LI.qq2 A {
	WIDTH: 31px; DISPLAY: block; HEIGHT: 33px; CURSOR: pointer
}
.f_contact UL LI.msn2 {
	WIDTH: 25px; FLOAT: left; HEIGHT: 33px; MARGIN-RIGHT: 5px
}
.f_contact UL LI.msn2 A {
	WIDTH: 25px; DISPLAY: block; HEIGHT: 33px; CURSOR: pointer
}
.left {
	WIDTH: 237px; PADDING-RIGHT: 8px; BACKGROUND: url(../bg/bg5.gif) no-repeat right top; FLOAT: left
}
.left H2.left_title {
	PADDING-LEFT: 2px
}
UL.left_nav {
	MARGIN-TOP: 5px; PADDING-LEFT: 10px
}
UL.left_nav LI {
	WIDTH: 185px; MARGIN-BOTTOM: 10px; HEIGHT: 28px
}
UL.left_nav LI A {
	LINE-HEIGHT: 28px; PADDING-LEFT: 25px; WIDTH: 185px; DISPLAY: block; FONT-FAMILY: 'Î¢ÈíÑÅºÚ'; WHITE-SPACE: nowrap; BACKGROUND: url(../bg/bg3.gif) no-repeat; HEIGHT: 28px; COLOR: #000; FONT-SIZE: 14px; OVERFLOW: hidden
}
UL.left_nav LI A:hover {
	BACKGROUND: url(../bg/bg4.gif) no-repeat; COLOR: #fff
}
UL.left_nav LI A.hover {
	BACKGROUND: url(../bg/bg4.gif) no-repeat; COLOR: #fff
}
UL.left_news {
	MARGIN-TOP: 5px
}
UL.left_news LI {
	PADDING-LEFT: 10px; WIDTH: 198px; HEIGHT: 28px
}
UL.left_news LI A {
	LINE-HEIGHT: 28px; PADDING-LEFT: 15px; WIDTH: 198px; DISPLAY: block; BACKGROUND: url(../bg/list1.gif) no-repeat 5px center; HEIGHT: 28px; COLOR: #494949
}
UL.left_news LI A:hover {
	BACKGROUND-COLOR: #c42222; COLOR: #fff
}
UL.left_service {
	PADDING-LEFT: 5px
}
UL.left_service LI {
	BORDER-BOTTOM: #e0e0e0 1px solid; POSITION: relative; PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; WIDTH: 228px; PADDING-RIGHT: 0px; HEIGHT: 90px; PADDING-TOP: 2px
}
UL.left_service LI IMG {
	MARGIN: 4px 0px 0px 12px
}
UL.left_service LI A {
	POSITION: absolute; WIDTH: 228px; DISPLAY: block; FONT-FAMILY: Georgia; BACKGROUND: url(../bg/imgbg1.png) no-repeat; HEIGHT: 90px; COLOR: #3c3c3c; FONT-SIZE: 22px; FONT-WEIGHT: bold; TOP: 0px; LEFT: 0px
}
UL.left_service LI A H2 {
	PADDING-LEFT: 100px; WIDTH: 120px; DISPLAY: block; FONT-FAMILY: "Î¢ÈíÑÅºÚ"; HEIGHT: 38px; COLOR: #2f2f2f; FONT-SIZE: 12px; OVERFLOW: hidden; FONT-WEIGHT: normal; PADDING-TOP: 4px
}
UL.left_service LI A H2 SPAN {
	DISPLAY: block; FONT-FAMILY: Arial; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
UL.left_service LI A BIG {
	PADDING-LEFT: 100px; DISPLAY: block; PADDING-TOP: 16px
}
UL.left_service LI A:hover {
	BACKGROUND: url(../bg/imgbg2.png) no-repeat; COLOR: #b60d0d
}
.right {
	PADDING-LEFT: 10px; WIDTH: 738px; FLOAT: left; _width: 737px
}
.foot {
	MARGIN-TOP: -2px; WIDTH: 100%
}
.footmain {
	WIDTH: 100%; BACKGROUND: url(../bg/footbg.gif) repeat-x; HEIGHT: 158px
}
UL.footnav {
	MARGIN: 0px auto; PADDING-LEFT: 13px; WIDTH: 1003px
}
UL.footnav LI {
	LINE-HEIGHT: 42px; DISPLAY: inline; FLOAT: left; HEIGHT: 42px; MARGIN-RIGHT: 40px; _margin-right: 38px
}
UL.footnav LI A {
	DISPLAY: block; FONT-FAMILY: 'Î¢ÈíÑÅºÚ'; COLOR: #963900; FONT-SIZE: 14px; CURSOR: pointer
}
UL.footnav LI A:hover {
	COLOR: #521f01
}
UL.footnav LI A SMALL {
	FONT-SIZE: 10px
}
.foot_down {
	MARGIN: 0px auto; PADDING-LEFT: 15px; WIDTH: 1003px
}
.foot_logo {
	MARGIN-TOP: 10px; WIDTH: 239px; BACKGROUND: url(../bg/logo.gif) no-repeat; FLOAT: left; HEIGHT: 79px
}
.copyright {
	PADDING-LEFT: 90px; WIDTH: 658px; BACKGROUND: url(../bg/copyright.gif) no-repeat 50px 35px; FLOAT: left; COLOR: #fff; PADDING-TOP: 35px
}
.copyright H3 {
	LINE-HEIGHT: 30px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 30px; FONT-SIZE: 10px
}
.copyright H2 A {
	COLOR: #fff
}
.copyright H3 A {
	COLOR: #fff
}
.copyright H2 A:hover {
	TEXT-DECORATION: underline
}
.copyright H3 A:hover {
	TEXT-DECORATION: underline
}
.works {
	MARGIN-TOP: 5px
}
.works UL LI {
	MARGIN-TOP: 10px; WIDTH: 230px; MARGIN-BOTTOM: 10px; FLOAT: left; HEIGHT: 254px; MARGIN-RIGHT: 16px; _margin-right: 14px
}
.works UL LI A {
	WIDTH: 230px; DISPLAY: block; BACKGROUND: url(../bg/imagebg8.gif) no-repeat; HEIGHT: 254px; COLOR: #626262
}
.works UL LI A:hover {
	BACKGROUND: url(../bg/imagebg9.gif) no-repeat; COLOR: #fff
}
.works UL LI A IMG {
	MARGIN: 7px 0px 5px 8px
}
.works UL LI A SMALL {
	LINE-HEIGHT: 20px; PADDING-LEFT: 10px; WIDTH: 210px; DISPLAY: block; FONT-FAMILY: Verdana; HEIGHT: 20px; COLOR: #000; FONT-SIZE: 9px
}
.works UL LI A H2 {
	LINE-HEIGHT: 28px; PADDING-LEFT: 10px; WIDTH: 184px; DISPLAY: block; FONT-FAMILY: 'ËÎÌå'; WHITE-SPACE: nowrap; HEIGHT: 28px; FONT-SIZE: 12px; OVERFLOW: hidden
}
.fybg {
	MARGIN-TOP: 10px; WIDTH: 725px; BACKGROUND: #ccc; HEIGHT: 36px; MARGIN-LEFT: 1px
}
.fy {
	PADDING-BOTTOM: 0px; MARGIN: 3px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; FONT-FAMILY: Arial; FLOAT: right; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.up {
	TEXT-ALIGN: center; LINE-HEIGHT: 28px; WIDTH: 60px; DISPLAY: block; FONT-FAMILY: 'ËÎÌå'; FLOAT: left; HEIGHT: 28px; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.down {
	TEXT-ALIGN: center; LINE-HEIGHT: 28px; WIDTH: 60px; DISPLAY: block; FONT-FAMILY: 'ËÎÌå'; FLOAT: left; HEIGHT: 28px; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.down {
	MARGIN: 0px 0px 0px 5px
}
.up A {
	WIDTH: 60px; DISPLAY: block; HEIGHT: 28px; COLOR: #5e5e5e
}
.down A {
	WIDTH: 60px; DISPLAY: block; HEIGHT: 28px; COLOR: #5e5e5e
}
.number {
	TEXT-ALIGN: center; LINE-HEIGHT: 28px; MARGIN: 0px 0px 0px 5px; WIDTH: 28px; DISPLAY: block; FLOAT: left; HEIGHT: 28px; FONT-SIZE: 12px
}
.number A {
	WIDTH: 28px; DISPLAY: block; HEIGHT: 28px; COLOR: #5e5e5e
}
.number A.xz {
	BACKGROUND: #c10000; COLOR: #ffba00
}
.fy A {
	BORDER-BOTTOM: #dbdbdb 1px solid; BORDER-LEFT: #dbdbdb 1px solid; DISPLAY: block; BACKGROUND: #fff; COLOR: #5e5e5e; BORDER-TOP: #dbdbdb 1px solid; BORDER-RIGHT: #dbdbdb 1px solid
}
.fy A:hover {
	BACKGROUND: #c10000; COLOR: #ffba00
}
.intr {
	POSITION: relative; PADDING-BOTTOM: 20px; BACKGROUND: url(../bg/bg24.gif) no-repeat right bottom
}
.fi {
	MARGIN-TOP: 15px; WIDTH: 231px; PADDING-RIGHT: 10px; BACKGROUND: url(../bg/imagebg10.gif) no-repeat; FLOAT: left; HEIGHT: 206px
}
.fi IMG {
	MARGIN: 7px 0px 0px 9px
}
.intr SPAN {
	PADDING-LEFT: 15px; WIDTH: 467px; DISPLAY: block; BACKGROUND: url(../bg/bg23.gif) no-repeat left top; FLOAT: left
}
.intr SPAN H2 {
	MARGIN-TOP: 10px; PADDING-LEFT: 20px; WIDTH: 447px; FONT-FAMILY: 'Î¢ÈíÑÅºÚ'; BACKGROUND: #c42222; HEIGHT: 44px; COLOR: #fff; FONT-SIZE: 17px; PADDING-TOP: 3px
}
.intr SPAN H2 B {
	WIDTH: 260px; DISPLAY: block; WHITE-SPACE: nowrap; OVERFLOW: hidden; FONT-WEIGHT: normal
}
.intr SPAN H2 I {
	DISPLAY: block; COLOR: #e5b632; FONT-SIZE: 12px
}
.intr SPAN SMALL {
	BORDER-BOTTOM: #ccc 1px dashed; LINE-HEIGHT: 34px; WIDTH: 467px; DISPLAY: block; HEIGHT: 34px
}
.intr SPAN SMALL B {
	FONT-FAMILY: 'ËÎÌå'; COLOR: #323232; FONT-SIZE: 12px
}
.intr SPAN SMALL B CITE {
	PADDING-RIGHT: 50px; FONT-WEIGHT: normal
}
.intr SPAN SMALL I CITE {
	COLOR: #636363
}
.intr SPAN H3 {
	MARGIN-TOP: 8px; WIDTH: 220px; BACKGROUND: url(../bg/title18.gif) no-repeat left top; HEIGHT: 15px
}
.intr SPAN P {
	LINE-HEIGHT: 20px; MARGIN-TOP: 6px; TEXT-INDENT: 2em; PADDING-LEFT: 7px; WIDTH: 441px; HEIGHT: 75px; COLOR: #989898; OVERFLOW: hidden
}
UL.fy2 {
	POSITION: absolute; RIGHT: 20px; TOP: 20px
}
UL.fy2 LI {
	FLOAT: left; _width: 36px
}
UL.fy2 LI A {
	LINE-HEIGHT: 16px; WIDTH: 50px; DISPLAY: block; HEIGHT: 35px; COLOR: #fff; CURSOR: pointer
}
UL.fy2 LI A I.pre {
	PADDING-LEFT: 6px
}
UL.fy2 LI A I.next {
	PADDING-LEFT: 2px
}
UL.fy2 LI A.p1 {
	PADDING-LEFT: 20px; BACKGROUND: url(../bg/pre.gif) no-repeat left 2px; MARGIN-RIGHT: 5px; _margin-right: 0px
}
UL.fy2 LI A.p1:hover {
	BACKGROUND: url(../bg/pre1.gif) no-repeat left 2px; COLOR: #ffb400; CURSOR: pointer
}
UL.fy2 LI A.p2 {
	PADDING-RIGHT: 5px; BACKGROUND: url(../bg/next.gif) no-repeat right 2px; _padding-right: 0px
}
UL.fy2 LI A.p2:hover {
	BACKGROUND: url(../bg/next1.gif) no-repeat right 2px; COLOR: #ffb400
}
.photo2 {
	MARGIN-TOP: 15px; PADDING-LEFT: 1px; WIDTH: 746px; BACKGROUND: url(../bg/bg6.gif) no-repeat right bottom; _width: 745px
}
.photo2 UL LI {
	MARGIN-BOTTOM: 15px; FLOAT: left; MARGIN-RIGHT: 35px
}
.photo2 UL LI.dif {
	MARGIN-RIGHT: 0px
}
.photo2 UL LI A {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; WIDTH: 111px; PADDING-RIGHT: 3px; DISPLAY: block; HEIGHT: 101px; PADDING-TOP: 3px
}
.photo2 UL LI A:hover {
	BACKGROUND: #95040a
}
.src5 {
	POSITION: relative; MARGIN: 0px auto 5px; WIDTH: 222px
}
.src6 {
	POSITION: relative; WIDTH: 219px; OVERFLOW: hidden
}
.src6 UL {
	POSITION: relative; WIDTH: 2000em
}
.src6 UL LI {
	WIDTH: 219px; FLOAT: left
}
.src6 UL LI A {
	WIDTH: 219px; DISPLAY: block; BACKGROUND: url(../bg/imagebg11.gif) no-repeat
}
.src6 UL LI A IMG {
	MARGIN: 8px 0px 5px 9px
}
.src6 UL LI A SMALL {
	LINE-HEIGHT: 20px; PADDING-LEFT: 10px; DISPLAY: block; FONT-FAMILY: Verdana; WHITE-SPACE: nowrap; HEIGHT: 20px; COLOR: #000; FONT-SIZE: 9px; OVERFLOW: hidden
}
.src6 UL LI A SMALL I {
	PADDING-LEFT: 40px
}
.src6 UL LI A H2 {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; MARGIN: 0px auto; WIDTH: 170px; DISPLAY: block; FONT-FAMILY: 'ËÎÌå'; BACKGROUND: #e8e8e8; HEIGHT: 30px; COLOR: #626262; FONT-SIZE: 12px
}
A.arr03 {
	Z-INDEX: 10000; POSITION: absolute; WIDTH: 16px; BOTTOM: -1px; DISPLAY: block; BACKGROUND: url(../bg/arr05.gif) no-repeat; HEIGHT: 30px; CURSOR: pointer; LEFT: 10px
}
A.arr03:hover {
	POSITION: absolute; BOTTOM: -1px; BACKGROUND: url(../bg/arr07.gif) no-repeat; LEFT: 10px
}
A.arr04 {
	Z-INDEX: 10000; POSITION: absolute; WIDTH: 16px; BOTTOM: -1px; DISPLAY: block; BACKGROUND: url(../bg/arr06.gif) no-repeat; HEIGHT: 30px; CURSOR: pointer; RIGHT: 12px
}
A.arr04:hover {
	BACKGROUND: url(../bg/arr08.gif) no-repeat
}
.photo1 {
	WIDTH: 747px; _width: 745px
}
.photo1 UL {
	PADDING-LEFT: 10px
}
.photo1 UL LI {
	PADDING-BOTTOM: 30px; MARGIN-TOP: 20px; BACKGROUND: url(../bg/bg6.gif) no-repeat right bottom
}
.photo1 UL LI A {
	POSITION: relative; WIDTH: 704px; DISPLAY: block; BACKGROUND: url(../bg/imagebg12.gif) no-repeat; HEIGHT: 182px; COLOR: #676565; CURSOR: pointer
}
.photo1 UL LI A:hover {
	BACKGROUND: url(../bg/imagebg13.gif) no-repeat left 2px; COLOR: #c42222
}
.photo1 UL LI A IMG {
	MARGIN: 8px 0px 0px 7px
}
.photo1 UL LI A H2 {
	POSITION: absolute; WIDTH: 148px; DISPLAY: block; FONT-FAMILY: "Î¢ÈíÑÅºÚ"; HEIGHT: 38px; FONT-SIZE: 14px; OVERFLOW: hidden; RIGHT: 18px; TOP: 13px
}
.photo1 UL LI A H2 SPAN {
	DISPLAY: block; FONT-FAMILY: Arial; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.photo1 UL LI A BIG {
	POSITION: absolute; FONT-FAMILY: Arial; FONT-SIZE: 24px; RIGHT: 92px; FONT-WEIGHT: bold; TOP: 70px
}
.photo1 UL LI A P {
	POSITION: absolute; LINE-HEIGHT: 18px; WIDTH: 144px; BOTTOM: 20px; DISPLAY: block; HEIGHT: 33px; FONT-SIZE: 12px; OVERFLOW: hidden; RIGHT: 20px
}
.rightmain {
	PADDING-BOTTOM: 20px; WIDTH: 747px; BACKGROUND: url(../bg/bg6.gif) no-repeat right bottom; _width: 746px
}
.free {
	MARGIN: 0px auto; WIDTH: 610px; PADDING-TOP: 20px
}
.free IMG {
	MARGIN: 0px auto
}
.photo3 UL LI A {
	BACKGROUND: url(../bg/imagebg13.gif) no-repeat left 2px; COLOR: #c42222
}
.right H2.right_title {
	WIDTH: 467px; BACKGROUND: url(../bg/righttitle1.gif) no-repeat; HEIGHT: 56px; MARGIN-LEFT: -15px
}
.right H2.right_title2 {
	WIDTH: 467px; BACKGROUND: url(../bg/righttitle2.gif) no-repeat; HEIGHT: 56px; MARGIN-LEFT: -15px
}
.right_location UL LI {
	POSITION: relative; PADDING-BOTTOM: 30px; MARGIN-TOP: 15px; WIDTH: 737px; BACKGROUND: url(../bg/bg6.gif) no-repeat right bottom; HEIGHT: 252px; MARGIN-LEFT: 10px; _width: 735px
}
.right_location UL LI A {
	POSITION: absolute; WIDTH: 702px; DISPLAY: block; BACKGROUND: url(../bg/imagebg14.gif) no-repeat; HEIGHT: 252px; COLOR: #c42222; CURSOR: pointer; TOP: 0px; LEFT: 0px
}
.right_location UL LI A:hover {
	BACKGROUND: url(../bg/imagebg15.gif) no-repeat; COLOR: #fff
}
.right_location UL LI A H2 {
	POSITION: absolute; WIDTH: 207px; BOTTOM: 38px; DISPLAY: block; FONT-FAMILY: 'Î¢ÈíÑÅºÚ'; WHITE-SPACE: nowrap; FONT-SIZE: 14px; OVERFLOW: hidden; RIGHT: 20px
}
.right_news UL {
	PADDING-LEFT: 2px
}
.right_news UL LI {
	BORDER-BOTTOM: #ccc 1px dashed; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 720px; PADDING-RIGHT: 0px; HEIGHT: 90px; PADDING-TOP: 10px
}
.right_news UL LI A.a1 {
	WIDTH: 92px; DISPLAY: block; BACKGROUND: url(../bg/imagebg16.gif) no-repeat; FLOAT: left; HEIGHT: 92px; MARGIN-RIGHT: 7px
}
.right_news UL LI A.a1 IMG {
	MARGIN: 5px 0px 0px 5px
}
.right_news UL LI A.a2 {
	PADDING-LEFT: 10px; WIDTH: 602px; DISPLAY: block; FLOAT: left; HEIGHT: 90px; COLOR: #797979; CURSOR: pointer
}
.right_news UL LI A.a2:hover {
	BACKGROUND: #c42222; COLOR: #fff
}
.right_news UL LI A.a2 H2 {
	BORDER-BOTTOM: #ebebeb 1px dashed; LINE-HEIGHT: 25px; FONT-FAMILY: 'Î¢ÈíÑÅºÚ'; HEIGHT: 25px; FONT-SIZE: 16px
}
.right_news UL LI A.a2 P {
	LINE-HEIGHT: 22px; WIDTH: 591px; DISPLAY: block; FONT-FAMILY: 'ËÎÌå'; HEIGHT: 60px; FONT-SIZE: 12px; OVERFLOW: hidden
}
.con_news {
	MARGIN: 30px auto 0px; WIDTH: 717px
}
.con_news H2 {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 717px; DISPLAY: block; FONT-FAMILY: 'Î¢ÈíÑÅºÚ'; WHITE-SPACE: nowrap; HEIGHT: 30px; COLOR: #c42222; FONT-SIZE: 20px; OVERFLOW: hidden
}
.con_news SMALL {
	TEXT-ALIGN: center; WIDTH: 717px; DISPLAY: block; FONT-FAMILY: Arial; COLOR: #717171; FONT-SIZE: 10px
}
.free2 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 717px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.free2 IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 3px; MARGIN: 15px auto; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; DISPLAY: block; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 3px
}
.free3 {
	PADDING-LEFT: 15px; WIDTH: 700px
}
.wrap {
	POSITION: relative
}
.bbs {
	POSITION: absolute; WIDTH: 48px; HEIGHT: 19px; RIGHT: 10px; TOP: 8px
}
.bbs A {
	WIDTH: 48px; DISPLAY: block; BACKGROUND: url(../bg/bbs.gif) no-repeat; HEIGHT: 19px
}
.bbsss {
	POSITION: absolute; WIDTH: 48px; HEIGHT: 19px; RIGHT: 100px; TOP: 8px
}
.bbsss A {
	WIDTH: 83px; DISPLAY: block; BACKGROUND: url(../bg/jfss.gif) no-repeat; HEIGHT: 19px
}
.float {
	Z-INDEX: 100000; POSITION: absolute; WIDTH: 168px; BACKGROUND: url(../float.png) no-repeat; HEIGHT: 275px; RIGHT: 5px; TOP: 545px
}
.float UL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; WIDTH: 132px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 72px
}
.float UL LI {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 36px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 36px; PADDING-TOP: 2px
}
.float UL LI A {
	DISPLAY: block; CURSOR: pointer
}
.float UL LI IMG {
	DISPLAY: block; FLOAT: left
}
.float UL LI.als {
	WIDTH: 50px; PADDING-RIGHT: 12px; FLOAT: left; HEIGHT: 50px
}
.float UL LI B {
	LINE-HEIGHT: 36px; PADDING-LEFT: 2px; DISPLAY: block; FONT-FAMILY: 'Î¢ÈíÑÅºÚ'; FLOAT: left; COLOR: #747474
}
.float UL LI I {
	PADDING-LEFT: 5px; COLOR: #c42222
}
.float A.close {
	MARGIN-TOP: 220px; WIDTH: 25px; DISPLAY: block; FLOAT: left; HEIGHT: 38px; CURSOR: pointer
}
